[submodule "src/serial"]
	path = src/serial
	url = https://github.com/wjwwood/serial.git
[submodule "src/ros_arduino_bridge"]
	path = src/ros_arduino_bridge
	url = https://github.com/hbrobotics/ros_arduino_bridge.git
